* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0.75rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

h2 {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: #000;
  border-radius: 15px;
}

.colorBtn {
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: #000;
  color: #ffff00;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 2px 20px #483d8b;
  transition: transform 0.5s ease-out;
}

.code {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clipboard {
  color: #000;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.5s ease-out;
}

#clipboard:hover,
#clipboared:active,
#clipboard:focus {
  transform: scale(1.2, 1.2);
  outline: none;
}

.colorBtn:hover,
.colorBtn:active,
.colorBtn:focus {
  outline: none;
  transform: scale(1.1, 1.1);
}
